body {
    background-color: SpringGreen;
}

header {
    background-color: PaleGreen;
}

#contenedor-barra-busqueda {
    background-color: rgba(255, 255, 255, 0.6);
}

#contenedor-preguntas {
    max-width: 75%;
}
#buscador {
    background-color: rgba(0,0,0,0);
}

#buscador:focus {
    outline-width: 0;
}

#search-icon {
    opacity: 0.6;
}

footer i
{
    color: #fff;
}